.header {
    background: url(./images/header.jpg) no-repeat;
    width: 90%;
    height: 616px;
    margin: 0 auto;
    position: relative;
    
}
.body__nav {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 72px;
    font-family: Lato;
    font-weight: bold;
    color: #2F80ED;
}
.body__nav button {
    margin-top: 19px;
    font-family: Lato;
    color: #2F80ED;
    border: 1px solid #2F80ED;
    outline: none;
    width: 210px;
    height: 32px;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 97%;
    margin: 0 auto;

}
.logo {
    margin-top: 8px;
}
.body__nav ul {
    display: flex;
    justify-content: space-between;
    opacity: 1;
    width: 100%; 
    padding-top: 7px; 
    cursor: pointer;
}
.body__nav .small-menu {
    width: 40px;
    margin-top: 24px;
    position: relative;
    visibility: hidden;
    position: absolute;
}
.small-menu__contant {
    position: absolute;
    left: -14px;
    top: 32px;
    z-index: 1;
}
.small-menu__contant ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    width: 120px;
    padding: 0;
    
}
.small-menu__contant li {
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.body__nav .small-menu span {
    background-color: #2F80ED;
    display: block;
    height: 4px;
    margin-bottom: 6px;
}
ul {
    list-style-type: none;
}

.header__contant {
    width: 50%;
    position: absolute;
    right: 0%;  
    padding-top: 64px;
    height: 480px;
    padding-right: 8%;
    background: linear-gradient(87.68deg, rgba(255, 255, 255, 0) 7.73%, rgba(255, 255, 255, 0.9) 55.76%);
}

.header__contant h1 {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: uppercase;
    color: #2F80ED;
}

.header__contant h2 {
    font-size: 50px;
    line-height: 55px;
    font-family: PF Din Text Cond Pro;
    padding-top: 0;
    margin-top: 0;
    text-align: end;
}
.header__contant button {
    width: 210px;
    height: 32px;
    background: #2F80ED;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 14%;
}

.contacts {
    width: 100%;
    height: 72px;
    background: #2F80ED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    margin: 0 auto
}
.contacts__container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: white;
    margin: 0 auto;
    font-family: Karla;
    font-size: 14px;
    line-height: 16px;
}

.contacts__container .address {
    padding-top: 30px;
}
.contacts__container .email {
    padding-top: 30px;
}
.contacts__container  hr {
    box-sizing: content-box;
    height: 59px;
    width: 2.5px;
    color: white;
    background-color: white;
    border: none;
    overflow: auto;
}
.contacts__container ul {
    padding: 0;
}
.services {
    text-align: center;
    font-family: Lato;
    margin-top: 40px;
    margin-bottom: 60px;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
}
.services h2 {

    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}
.services h3 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

.box-star hr {
    width: 50px;
    height: 0.1px;
    background-color: #2F80ED;
    border: none;
}
.services .box-star {
    display: flex;
    width: 10%;
    margin: 0 auto;
    margin-top: 13px;
}
.services img {
    position: relative;
    top: -5px;
}

.services__list {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    margin-top: 56px;
}
.services__list hr{
    width: 1.5px;
    height: 144px;
    background-color: #2F80ED;
    border: none;
}
.services__list img {
    margin-top: 36px;
}


.content {
    background: #F6F6F6;
    height: 50hv;
    width: 90%;
    margin: 0 auto;
    font-family: Lato;
}

.content__box {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 37px;
}
.content .text {
    width: 50%;
    padding-top: 10%;
}

.content .image {
    background: url(./images/image-face.jpg) no-repeat;
    width: 475px;
    height: 488px;
}
.content .image-mass {
    background: url(./images/image-mass.jpg) no-repeat;
    width: 475px;
    height: 488px;
}
.content .image-rheum {
    background: url(./images/image-reu.jpg) no-repeat;
    width: 475px;
    height: 488px;
}
.text p {
    width: 82%;
    font-size: 14px;
    line-height: 14px;
    
}
.text h1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.text button {
    width: 220px;
    height: 44px;
    font-family: Lato;
    font-weight: bold;
    color: #2F80ED;
    font-size: 14px;
    background: #F6F6F6;
    border: 1px solid #2F80ED;
    margin-top: 30px;
}
